

.cart-item {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
}

.cart-item .item-description {
    flex: 69%;
    max-width: 69%;
}

.cart-item img {
    flex: 30%;
    max-width: 30%;
}


.cart-item .price {
    font-weight: 700;
}

.cart-item .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item .clear-item {
    cursor: pointer;
    margin-right: 0.3rem;
    transition: all 0.3s linear;
}

.cart-item .clear-item:hover {
    color: red;
}

